@font-face {
  font-family: "Alex Brush";
  src: url(fonts/AlexBrush-Regular.ttf);
}

body {
  font-family: Alex Brush;
}

h1,
.credits {
  font-weight: bolder;
  font-style: oblique;
  text-align: center;
}

h1 {
  text-transform: uppercase;
}

.intro {
  font-size: 1.5em;
  text-decoration: underline;
}

div {
  width: 100px;
  height: 100px;
  border: 2px solid red;
  line-height: 100px;
  text-align: center;
  margin: 10px;
}

p {
  letter-spacing: 0.8rem;
  text-indent: 2em;
}

#d1 {
  text-shadow: 5px 5px 5px blue;
}

#d2 {
  text-shadow: 5px 5px 5px yellow;
}

#d3 {
  text-shadow: 5px 5px 5px green;
}

#d4::first-letter {
  font-size: 2em;
}

a:visited {
  color: red;
}

a:link {
    text-decoration: none;
}

a:hover {
    font-size: 1.3em;
}
