input {
    padding: 12px 15px;
    font-size: 16px;
    border-radius: 8px;
}

textarea {
    width: 300px;
    height: 150px;
    margin-top: 10px;
    margin-bottom: 20px;
}

select {
    padding: 10px 15px;
    margin-top: 5px;
    z-index: -20;
}

p{
    color: red;
}

