.box {
    width: 200px;
    height: 200px;
    text-align: center;
    line-height: 100px;
}

.c1 {
    background-color: aquamarine;
    top: 60px;
    z-index: 1;
}

.c2 {
    background-color: bisque;
    position: relative;
    top: -90px;
    left: 100px;
}

.c3 {
    width: 400px;
    position: relative;
    height: 300px;
}

img {
    width: 100%;
    height: 300px;
}

.c3 span {
    position: absolute;
    bottom: 0px;
    display: block;
    color: red;
    font-size: 2em;
    background-color: rgba(115, 178, 233, 0.8);
    height: 60px;
    width: 100%;
    line-height: 60px;
}

.header {
    position: fixed;
    height: 60px;
    color: white;
    background-color: black;
    width: 100%;
}

.header a {
    color: white;
    text-decoration: none;
    display: inline-block;
    padding-left: 50px;
    padding-top: 25px;
}

.c4 {
    background-color: chartreuse;
    position: relative;
}

.c4 p {
    position: absolute;
    top: 0px;
}