.box {
    width: 200px;
    height: 200px;
    text-align: center;
    line-height: 100px;
}

.c1 {
    background-color: aquamarine;
}

.c2 {
    background-color: bisque;
    position: relative;
    top: -90px;
    left: 100px;
}

.c3 {
    width: 400px;
    position: relative;
    height: 300px;
}

img {
    width: 100%;
    height: 300px;
}

.c3 span {
    position: absolute;
    bottom: 0px;
    display: block;
    color: red;
    font-size: 2em;
    background-color: rgba(115, 178, 233, 0.8);
    height: 60px;
    width: 100%;
    line-height: 60px;
}