.content {
    border: 5px solid red;
    width: 700px;
    overflow: hidden;
    font-size: 2em;
    color: red;
}

.box {
    width: 200px;
    height: 200px;
    /* display: inline-block; */
    float: left;
}

.d1 {
    background-color: aquamarine;
    /* float: left; */
    /* display: inline-block; */
}

.d2 {
    background-color: coral;
    /* clear: left; */
}

.d3 {
    background-color: lightgreen;
    clear: left;
}

.d4 {
    background-color: lightpink;
}