body {
    font-family: Arial, sans-serif;
    background: linear-gradient(#3c66b3, #f0f0f0);
}

.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
}

main {
    padding: 20px;
    border-radius: 10px;
    background-color: white;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    padding: 40px;
}

label {
    margin-bottom: 8px;
    font-weight: lighter;

}

input {
    padding-left: 15px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.gender {
    margin-bottom: 15px;
    display: flex;
    gap: 10px;
}

select {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding-left: 15px;
}

.interests {
    margin-bottom: 15px;
    display: flex;
    gap: 10px;
}

.agree {
    margin-bottom: 20px;
    font-size: 13px;
}

.agree span {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

button {
    cursor: pointer;
    font-weight: bold;
    height: 50px;
    border-radius: 20px;
    border: none;
    color: white;
    background-color: #3c66b3;
    font-size: large;
}

p {
    font-size: 14px;
    text-align: center;
}

p span {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}